log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

tex2pdf.*/

.openpublishing.buildcore.ps1

*.orig
.vs/
.DS_Store
azure-quantum/samples/shipping-sample/.ipynb_checkpoints/*
azure-quantum/samples/job-shop-sample/.ipynb_checkpoints/*
